body{
    font-family: font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}

h1 {
    color: maroon;
}

label{
    display: block;
    padding: 10px;
    border: 1px dashed rgb(211, 210, 208);
}

button{
    color: white;
    background: maroon;
    padding: 5px;

}